body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    padding: 20px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

form {
    background: #fff;
    padding: 30px 50px 30px 30px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 640px; 
    margin: 0 auto; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em; 
}

input {
    width: 100%;
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em; 
}

button {
    width: 100%;
    padding: 15px; 
    margin: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em; 
}

button:hover {
    background-color: #0056b3;
}

/* shared.css */
nav {
    background-color: #ffcc00;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #ffcc00;
    text-align: center;
    padding: 3px;
    margin-top: 100px;
}

footer p {
    margin: 0;
}